.header {
  background: url(../img/beats_solo_3.png) top 69% right 37% no-repeat, #F5F5F5;
  height: 652px;
}

.header__firstrow,
.menu__list,
address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container {
  padding: 24px 105px 0px 80px;
}

.logo {
  width: 40px;
  height: 40px;
}

.menu {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67em;
  margin-right: 12px;
}

.menu__item {
  margin-right: 27px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.menu__link:hover {
  color: #E01F3D;
}

.contacts {
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1em;
}

.contacts__phone::before {
  content: url("../img/phone.svg");
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.header__box {
  padding-top: 64px;
  margin-bottom: 85px;
}

.header__title {
  width: 400px;
  height: 156px;
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.08em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header__description {
  width: 332px;
  height: 50px;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 1.19em;
  margin-bottom: 53px;
}

.properties__list,
.properties__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.properties__item {
  margin-right: 3px;
}

.properties__icon {
  margin-right: 20px;
}

.properties__property {
  width: 114px;
  height: 36px;
  font-family: Play;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.12em;
}