//variables
$baseFontSize: 16px;
$decorZ-index: 10;
$gray_font: #666;
$red: #E01F3D;
$z-fixed-menu: 100;

//breakpoints
$tablets: 768px;
$phones: 480px;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

//media
@import "_media.scss";

//base

@import "./blocks/_normalize.scss";
@import "./blocks/_base.scss";

//sections
@import "./blocks/_hello.scss";
@import "./blocks/_header.scss";
@import "./blocks/hamburger.scss";
@import "./blocks/_why.scss";
@import "./blocks/_team.scss";
@import "./blocks/_slider.scss";
@import "./blocks/_reviews.scss";
@import "./blocks/_order.scss";
@import "./blocks/_fixed-menu.scss";
@import "./blocks/_modal-menu.scss";
@import "./blocks/_modal.scss";

