.container__horizontal-menu {
    display: flex;
}
.section__horizontal-menu {
    position: relative;
    background: url("../../img/horizontal-menu-back.png") center center/cover no-repeat;
    color: #fff;
}

.horizontal-menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;

    &__item {
        display: flex;
        
        
    }

    &__title {
        position: relative;
        display: flex;
        width: rem(100px);
        padding-bottom: rem(34px);
        align-items: flex-end;
        justify-content: center;

        &-text {
            font-family: Alegreya Sans;
            font-style: normal;
            font-weight: bold;
            font-size: rem(36px);
            line-height: 1.194em;
            text-align: center;
            writing-mode: vertical-rl;
            transform: rotate(180deg);  
        }
    }

    &__content {
        background: rgba(51, 53, 55, 0.9);
        width: 0;
        position: relative;
        overflow: hidden;
        transition: width 0.7s;
    }

    &__container {
        padding: rem(40px) rem(73px) rem(45px) rem(26px);
    }

    &__close {
        position: absolute;
        top: rem(20px);
        right: rem(25px);
        border: none;
        background: transparent;
    }
}

.horizontal-menu__title--atlas {
    background: #999999;
}

.horizontal-menu__title--black {
    background: #151515;
}

.horizontal-menu__title--red {
    background: #E01F3C;
}

.horizontal-menu__item.not-active {
    .horizontal-menu__title {
        display: none;
    }
}

.horizontal-menu-section__title {
    margin-top: 14%;
    margin-left: 10%;
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: rem(48px);
    line-height: 1.08em;
    text-transform: uppercase;

    @include phones {
        margin-left: 1%;
        font-size: rem(32px);
        line-height: 1.12em;
    }
}