.header,
address {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}



.logo {
    width: rem(40px);
    height: rem(40px);
}

.menu {
    font-family: Alegreya Sans;
    font-style: normal;
    font-weight: normal;
    font-size: rem(18px);
    line-height: 1.67em;
    margin: 0 rem(12px);
    
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

}



.menu__item {
    margin-right: rem(27px);
    margin-bottom: rem(10px);
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    transition: color 0.3s;
    white-space: nowrap;
}

.menu__link:hover {
    color: $red;
}

.menu {
    @include tablets {
        display: none;
    }
}

.contacts {
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    font-size: rem(18px);
    line-height: 1em;
    flex-shrink: 0;
    padding-top: rem(6px);

    &__phone {
        transition: color 0.3s;
        white-space: nowrap;
        
        &:hover {
            color: $red;
        }
    }
}

.contacts__phone--icon {
    width: rem(14px);
    height: rem(14px);
    margin-right: rem(6px);

    @include tablets {
        display: none;
    }
}

.header .contacts__phone {
    @include tablets {
        display: none;
    }
}