.order {
    background-color: #161616;
    position: relative;

    &:before {
        position: absolute;
        content: url("../img/order_before.png");
        top: rem(-20px);
        right: 10%;
    }
}
.order__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/form_background.png);
    color: #fff;
    padding: rem(68px) rem(80px) rem(85px);
    position: relative;

    @include tablets {
        padding-top: 0;
        padding-bottom: 0;
        background-position: center;
    }
}

.order__title {
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: rem(48px);
    line-height: 1.083em;
    text-transform: uppercase;
    margin-bottom: rem(58px);
}

.form, 
.form__row {
    display: flex;
}

.form {
    @include tablets {
        flex-direction: column;
        padding: 0 10%;
    }
}
.form__row {
    margin-bottom: rem(7px);

    &:last-child {
        margin-bottom: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(27px);

    @include tablets {
        margin-right: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}

.form__block {
    flex: 1;
    margin-right: rem(15px);

    &:last-child {
        margin-right: 0;
    }
}

.form__title {
    margin-bottom: rem(6px); 
}

.form__title,
.radio__title,
.check__title {
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    font-size: rem(16px);
    line-height: 1.1875em;
}

.form__input {
    width: 100%;
    padding: rem(19px) rem(12px);
    border-radius: rem(4px);
    border: rem(3px) solid transparent;

    &:focus {
        outline: none;
        border-color    : #E01F3D;
    }
}

.form__input--textarea {
    height: rem(152px);
    resize: none;
    margin-bottom: rem(25px);
}

.form__controls,
.radio,
.check {
    display: flex;
    align-items: center;
}

.form__controls {
    margin-bottom: rem(19px);
    padding-left: rem(4px);

    &--last {
        margin-bottom: rem(50px);
    }
}
.radio {
    margin-right: rem(16px);
    &:last-child {
        margin-right: 0;
    }
}

.radio__elem,
.check__elem {
    display: none;
} 

.radio__circle {
    width: rem(25px);
    height: rem(25px);
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: rem(10px);

    .radio__red-circle {
        width: rem(13px);
        height: rem(13px);
        border-radius: 50%;
        background: #fff;  
    }
}

.radio__elem:checked ~ .radio__circle .radio__red-circle {
    background: #E01F3D;  
}

.check__button {
    width: rem(24px);
    height: rem(24px);
    background: #fff;
    margin-right: rem(10px);
    display: flex;
    align-items: center;
    justify-content: center;

    .check__button-checked{
        width: rem(10px);
        height: rem(8px); 
    }
}

.check__elem:checked ~ .check__button .check__button-checked {
    background: url("../img/check_check.png");
}

.form__buttons {
    @include tablets {
        display: flex;
        justify-content: center;
        align-items: center ;
    }
}

.button--none {
    padding: 0 rem(10px);
    text-transform: none;
    text-align: none;
    width: rem(90px);
    height: rem(19px);
    background: none;
    border-radius: rem(0px);
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    font-size: rem(16px);
    line-height: 1.1875em;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
        color: #E01F3D;
        background: none;
    }
}

.form__button {

    &:last-child {
        margin-right: 0;
    }
}
