.section__reviews {
    &:after {
        position: absolute;
        content: url(../../img/reviews_after.png);
        left: 10%;
        bottom: rem(-20px);
        z-index: $decorZ-index;
    }
}

.reviews__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: rem(569px);

    @include tablets {
        min-height: rem(656px);
    }

    @include phones {
        min-height: rem(656px);
    }

    .reviews__title {
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: rem(48px);
        line-height: 1.08em;
        text-transform: uppercase;
        margin-bottom: rem(32px);
        z-index: 10;

        @include phones {
            font-size: rem(32px);
        }
        
    }

    .reviews__review {
        display: flex;
        background: #F8FAF9;
        padding: rem(42px);
        width: 100%;

        @include tablets {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: rem(47px) 0 rem(40px) 0;
            margin-bottom: rem(20px);
        }

        .review__photo{
            width: rem(253px);
            height: rem(264px);
            margin-right: rem(40px);

            @include tablets {
                margin-right: 0;
                width: rem(130px);
                height: rem(130px);
                margin-bottom: rem(30px);
            }

            @include phones {
                margin-bottom: rem(15px);
            }
        }

        .review__text {
            display: flex;
            flex-direction: column;
            padding-top: rem(27px);
            padding-bottom: rem(21px);
            
            @include tablets {
                align-items: center;
                padding-top: rem(0px);
                padding-bottom: rem(0px);
            }

            .review__title {
                font-family: Play;
                font-style: normal;
                font-weight: bold;
                font-size: rem(24px);
                line-height: 1.67em;
                margin-bottom: rem(22px);

                @include tablets {
                    margin-bottom: rem(10px);
                }
            }

            .review__desc {
                width: 83%;
                font-family: Play;
                font-style: normal;
                font-weight: normal;
                font-size: rem(16px);
                line-height: 1.187em;
                margin-bottom: rem(43px);
                display: flex;
                justify-content: center;

                @include tablets {
                    width: 93%;
                    margin-bottom: rem(38px);
                }
                @include phones {
                    width: 93%;
                    margin-bottom: rem(50px);
                }
            }

            .review__signature {
                font-family: Play;
                font-style: normal;
                font-weight: bold;
                font-size: rem(18px);
                line-height: 1.17em;
            }
        }

    }

    .reviews__pager {
        display: flex;
        padding-top: rem(47px);
        padding-bottom: rem(63px);

        .pager__item {
            width: rem(74px);
            height: rem(74px);
            margin-right: rem(6px);

            .pager__icon{
                border: rem(4px) solid #fff;
                border-radius: rem(105px);             
            }


            &:last-child {
                margin-right: 0;
            }

            &.active {
                .pager__icon {
                    border-color: red;
                }
            }
        }


    }

    &:before {
        position: absolute;
        content: url(../../img/reviews_before.png);
        transform: translate(0%, 34%);
        z-index: 1;

        @include phones {
            display: none;
        }
    }
}

.review__list {
    position: relative;
}
.review__item {
    position:absolute;
    top:0;
    left:0;
    opacity:0;

}

.review__item.active {
    opacity: 1;
}