.section__slider {
    background: #F8FAF9;
    
    @include tablets {
        min-height: rem(816px);
    }

    .bx-wrapper{
        border: 0;
        background: transparent;
        box-shadow: none;
        height: rem(485px);
        margin-bottom: 0;
        
        @include tablets {
            min-height: rem(616px);
        }
    }
}

.container__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include tablets {
        justify-content: center;
        width: 100%;
    }
}

.slider {
    display: flex;
    align-items: center;
    min-width: 2%;

    @include phones {
        min-width: rem(30px);
    }

    &__icon {
        width: rem(13.5px);
        height: rem(27px);
    }

    &__left {
        display: flex;
        justify-content: flex-start;
    }

    &__right {
        display: flex;
        justify-content: flex-end;
    }

    &__pic {
        width: 100%;
        height: 100%;

       @include tablets{
            width: rem(306px);
            height: rem(306px);
        }
    }

    &__center {
        display: flex;
        justify-content: center;
        
        @include tablets {
            flex-direction: column;    
            justify-content: center;
            align-items: center;
           // min-width: 80%;
        }
    }

    &__content {
        width: rem(452px);
        display: flex;
        flex-direction: column;
        padding-left: 4%;

        @include tablets {
            padding: rem(50px) rem(80px);
            width: 100%;
            align-items: center;
        }

        @include phones {
            padding: rem(26px) rem(32px);
        }

    }

    
}



.slider__left {
    @include tablets {
        position: absolute;   
        left: 15%;
        top: 30%;
        z-index: 10;
    }

    @include phones {
        position: absolute;   
        left: 5%;
        top: 30%;
        z-index: 10;
    }
}
.slider__right {

    @include tablets {
        position: absolute;  
        right: 15%;   
        top: 30%;
    }

    @include phones {
        position: absolute;   
        right: 5%;
        top: 30%;
        z-index: 10;
    }
}

.content__icon-wrapper {
    width: rem(91px);
    height: rem(91px);
    background-color: #9a9a9a;
    border-radius: rem(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: rem(25px);

    @include tablets {
        display: none;    
    }

    .content__icon {
        width: rem(42px);
        height:rem(42px);
    }
}

.content__title {
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: rem(36px);
    line-height: 1.16em;
    text-transform: uppercase;
    margin-bottom: rem(25px);
    
    @include tablets {
        font-size: rem(28px);
        text-align: center;
    }
}

.content__text{
    margin-bottom: rem(25px);

    @include tablets {
        text-align: center;
    }

    p {
        font-family: Play;
        font-style: normal;
        font-weight: normal;
        font-size: rem(16px);
        line-height: 1.187em;
        color: #666666;
    }
    
}

.content__features {
    display: flex;
    margin-bottom: rem(25px);
    .features__feature {
        display: flex;
        flex-direction: column;
        margin-right: rem(103px);
        &:last-child{
            margin-right: 0;
        }

        .feature__title{
            font-family: Play;
            font-style: normal;
            font-weight: normal;
            font-size: rem(16px);
            line-height: 1.187em;
        }

        .feature__description {
            font-family: Play;
            font-style: normal;
            font-weight: bold;
            font-size: rem(18px);
            line-height: 1.167em;
        }
    }
}

.content__order {
    display: flex;

    .order__price {
        width: rem(148px);
        font-family: Play;
        font-style: normal;
        font-weight: normal;
        font-size: rem(36px);
        line-height: 1.67em;
        text-transform: uppercase;
        margin-right: rem(13px);
    }

    .button--red {
        width: rem(163px);
        height: rem(60px);
        line-height: 1.1em;
        padding: rem(21px) rem(41px);
    }
}

.slider__pic-wrapper {
    display: flex;
    flex-shrink: 3;
}

.slider--pic {
    display: none;

    @include tablets {
        display: flex;
    }
}

.slider__center-wrapper {
    width: 96%;
}

.content__icon-wrapper {
    cursor: pointer;
    position: relative;

    &:hover {
        .content__icon-info{
            opacity: 1;
            display: flex;
        }
    }

}

.content__icon-info {
    position: absolute;
    width: rem(273px);
    height: rem(294px);
    top: 0%;
    left: 100%;
    background: #d5d5d5;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s;
    padding: rem(28px) rem(25px) rem(34px) rem(30px);
    display: none;

    .info__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        .info__item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .info__icon {
                width: rem(24px);
                height: rem(24px);
                margin-right: rem(14px);
            }

            .info__description {
                width: rem(127px);
                height: rem(24px);
                text-align: left;
                font-size: rem(16px);
                line-height: 1.33em;
            }

            .info__value {
                width: rem(53px);
                height: rem(24px);
                text-align: right;
                font-size: rem(16px);
                line-height: 1.33em;
            }
        }
    }
}