$gray_font: #666;

.why__container {
    padding-top: 100px; 
}

.why {
    position: relative;

    &:before {
        position: absolute;
        content: url("../img/why_before.png");
        top: -20px;
        right: 10%
    }

    &:after{
        position: absolute;
        content: url("../img/why_after.png");
        bottom: -20px;
        left: 10%
    }
}

.why__lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;

    & .lead__title {
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 1.08em;
        text-transform: uppercase;
        margin-bottom: 18px;
    }

    & .lead__desc {
        padding: 0 25%;
        font-family: Play;
        font-style: normal;
        font-weight: normal; 
        font-size: 16px;
        line-height: 1.187em;
        text-align: center;
        color: $gray_font;
    }
}

.why__features {
    display: flex;
    justify-content: space-between;
    margin: 0 80px;

    & .why__feature {
        width: 29.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &:after {
            position: absolute;
            content: url(../img/why_feature_split.png);
            transform: translate(245%, 243%);
        }

        &:last-child:after {
            content: "";
        }

        & .feature__icon-wrapper {
            width: 128px;
            height: 128px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 24px;
            background: url(../img/why_icon_back.png) no-repeat;
        }

        & .feature__title {
            font-family: Play;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 1.16em;
            margin-bottom: 9px;
        }

        & .feature__desc {
            width: 247px;
            font-family: Play;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 1.1875em;
            text-align: center;
            color: $gray_font;
        }
    }
}





