$gray_font: #666;

.why__container {
    padding-top: rem(100px); 
}

.why {
    position: relative;

    &:before {
        position: absolute;
        content: url("../img/why_before.png");
        top: rem(-20px);
        right: 10%
    }

    &:after{
        position: absolute;
        content: url("../img/why_after.png");
        bottom: rem(-20px);
        left: 10%
    }
}

.why__lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: rem(65px);

    & .lead__title {
        font-family: Play;
        font-style: normal;
        font-weight: bold;
        font-size: rem(48px);
        line-height: 1.08em;
        text-transform: uppercase;
        margin-bottom: rem(18px);
        text-align: center;
    }

    & .lead__desc {
        padding: 0 25%;
        font-family: Play;
        font-style: normal;
        font-weight: normal; 
        font-size: rem(16px);
        line-height: 1.187em;
        text-align: center;
        color: $gray_font;
    }
}

.why__features {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;

    & .why__feature {
        width: 31.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        &:after {
            position: absolute;
            content: url(../img/why_feature_split.png);
            top: 20%;
            left: 93%;

            @include tablets {
                display: none;
            }
        }

        &:last-child:after {
            content: "";
        }

        & .feature__icon-wrapper {
            width: rem(128px);
            height: rem(128px);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: rem(24px);
            background: url(../img/why_icon_back.png) center center / 95% no-repeat
        }

        & .feature__title {
            font-family: Play;
            font-style: normal;
            font-weight: bold;
            font-size: rem(24px);
            line-height: 1.16em;
            margin-bottom: rem(9px);
        }

        & .feature__desc {
            width: 99%;
            font-family: Play;
            font-style: normal;
            font-weight: normal;
            font-size: rem(16px);
            line-height: 1.1875em;
            text-align: center;
            color: $gray_font;
        }
    }
}





